header {
}

header li {
  font-size: 13px!important;
}

header a {
  color: $gray--400;
  text-transform: uppercase;
  letter-spacing: 1px;
}

header a:hover {
  text-decoration: none;
  color: $accent;
}

h1 a {
  text-transform: lowercase;
  letter-spacing: 0;
}

header strong,
.nav__header {
  font-family: "Benton Sans RE Bd";
  color: $gray--600;
}

header .active {
  color: $accent;
  font-family: "Benton Sans RE Bd";
  font-weight: bold;
  border-bottom: none;
  letter-spacing: 0;
}
