.bg-background {
  background-color: #f9f6ec; }

.bg-text {
  background-color: #292929; }

.bg-link {
  background-color: #d6f1fc; }

.bg-accent {
  background-color: #ec5e55; }

.bg-blockquote {
  background-color: #d8d9c6; }

.bg-text-secondary {
  background-color: #d2d2d2; }
