.background {
  color: #f9f6ec; }

.text {
  color: #292929; }

.link {
  color: #d6f1fc; }

.accent {
  color: #ec5e55; }

.blockquote {
  color: #d8d9c6; }

.green {
  color: #8b8e5f; }

.text-secondary {
  color: #d2d2d2; }

.bg-background {
  background-color: #f9f6ec; }

.bg-text {
  background-color: #292929; }

.bg-link {
  background-color: #d6f1fc; }

.bg-accent {
  background-color: #ec5e55; }

.bg-blockquote {
  background-color: #d8d9c6; }

.bg-green {
  background-color: #8b8e5f; }

.bg-text-secondary {
  background-color: #d2d2d2; }

.gray--100 {
  color: #292929; }

.gray--200 {
  color: #393939; }

.gray--300 {
  color: #494949; }

.gray--400 {
  color: #595959; }

.gray--500 {
  color: #696969; }

.gray--600 {
  color: #797979; }

.bg-gray--100 {
  background-color: #292929; }

.bg-gray--200 {
  background-color: #393939; }

.bg-gray--300 {
  background-color: #494949; }

.bg-gray--400 {
  background-color: #595959; }

.bg-gray--500 {
  background-color: #696969; }

.bg-gray--600 {
  background-color: #797979; }

.bentonsansreregular {
  font-family: "Benton Sans RE Reg";
  font-style: Normal;
  font-weight: Normal; }

.bentonsansreitalic {
  font-family: "Benton Sans RE It";
  font-style: Italic;
  font-weight: Normal; }

.bentonsansrebold {
  font-family: "Benton Sans RE Bd";
  font-style: Normal;
  font-weight: Normal; }

.bentonsansrebolditalic {
  font-family: "Benton Sans RE Bd It";
  font-style: Italic;
  font-weight: Normal; }

.bentonsanscondensedregular {
  font-family: "Benton Sans Cond Reg";
  font-style: Normal;
  font-weight: Normal; }

.bentonsanscondensedbold {
  font-family: "Benton Sans Cond Bd";
  font-style: Normal;
  font-weight: Normal; }

.bentonsanscondensedbolditalic {
  font-family: "Benton Sans Cond Bd It";
  font-style: Italic;
  font-weight: Normal; }

.bentonsanscondensedblack {
  font-family: "Benton Sans Cond Bla";
  font-style: Normal;
  font-weight: Normal; }

.bentonsanscondensedblackitalic {
  font-family: "Benton Sans Cond Bla It";
  font-style: Italic;
  font-weight: Normal; }

body {
  font-family: "elena-web-basic",sans-serif;
  font-size: 18px; }

.lead {
  font-size: 1.44em; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Benton Sans Cond Bd"; }

h1, .h1 {
  font-size: 2.488em; }

h2, .h2 {
  font-size: 2.074em; }

h3, .h3 {
  font-size: 1.728em; }

h4, .h4 {
  font-size: 1.44em; }

h5, .h5 {
  font-size: 1.2em; }

h6, .h6 {
  font-size: 1em; }

h1, .h1, h1 a {
  color: #292929; }

h2, .h2, h2 a {
  color: #393939; }

h3, .h3, h3 a {
  color: #494949; }

h4, .h4, h4 a {
  color: #595959; }

h5, .h5, h5 a {
  color: #696969; }

h6, .h6, h6 a {
  color: #797979; }

hr {
  border: 0;
  border-top: 1px solid #d8d9c6; }

blockquote {
  color: #2a5547;
  font-family: "Benton Sans Cond Reg";
  font-style: Normal;
  font-weight: Normal;
  border-left: 5px solid #d8d9c6;
  margin-left: 1em;
  padding-left: 1em; }

blockquote strong {
  font-family: "Benton Sans Cond Bd";
  font-weight: bold; }

figcaption {
  line-height: 1.25em !important; }

.list-group-item {
  background: none; }

.list-group .list-group-item a h4 {
  font-family: "Benton Sans Cond Reg" !important;
  font-style: Normal !important;
  font-weight: Normal !important;
  line-height: 1.25em; }

.sans, ol, li, ul, dl, table, figcaption, header, nav {
  font-family: "Benton Sans RE Reg";
  font-size: .9rem;
  line-height: 2em; }

.sans strong, ol strong, ul strong, li strong, dl strong, table strong, figcaption strong, header strong, nav strong {
  font-family: "Benton Sans RE Bd";
  font-style: Bold;
  font-weight: Bold; }

.person-meta {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

figure {
  display: block;
  margin: 30px 0; }
  figure img {
    display: block;
    margin: auto; }
  figure figcaption {
    padding-top: 15px;
    font-style: italic;
    color: #797979;
    margin: auto;
    text-align: center;
    width: 80%; }

figure.img-thumbnail {
  margin: 0; }

header a {
  color: #292929; }

header strong,
.nav__header {
  font-family: "Benton Sans RE Bd";
  color: #797979; }

.nav__header {
  color: #292929; }

header .active {
  color: #ec5e55;
  font-family: "Benton Sans RE Bd";
  font-weight: bold;
  border-bottom: none; }

footer {
  display: block;
  overflow: hidden;
  position: relative; }

.logo {
  fill: #d8d9c6;
  width: 50%;
  height: 50%;
  opacity: .15;
  display: block;
  position: relative;
  bottom: -25%;
  left: -25%; }

.nav a:link,
.nav a:visited {
  padding-left: 0;
  color: #797979;
  background: none !important; }

.nav a:link.nav-link,
.nav a:visited.nav-link {
  color: #292929; }

.nav .nav-link.active {
  font-family: 'Benton Sans RE Bd';
  font-weight: bold; }

.nav .nav-link:hover {
  color: #ec5e55; }

.nav .active {
  color: #ec5e55 !important; }

body {
  background: #f9f6ec; }
