.image img {
  max-width: 100%;
  height: auto;
}

.image.image--right {
  display: block;
  width: 33%;
  margin-left: 15px;
}

.image.image--left {
  display: block;
  width: 33%;
  margin-right: 15px;
}

.lead p {
  font-size: 1.25em!important;
  line-height:1.25;
}
