.nav {
  a:link,
  a:visited {
//    padding-left: 0;

    color: $gray--600;
    background: none !important;
  }

  a:link.nav-link,
  a:visited.nav-link {
    color: $text;
  }

  .nav-link.active {
    font-family: 'Benton Sans RE Bd';
    font-weight: bold;
  }

  .nav-link:hover, .dropdown-item:hover {
    color: $accent;
  }

  .active, .nav-item.open .nav-link {
    color: $accent!important;
  }
}

.nav--sidebar {
  margin-bottom: 50px;
}
