.bentonsansreregular{
    font-family: "Benton Sans RE Reg";
    font-style: Normal;
    font-weight: Normal;
}

.bentonsansreitalic{
    font-family: "Benton Sans RE It";
    font-style: Italic;
    font-weight: Normal;
}

.bentonsansrebold {
    font-family: "Benton Sans RE Bd";
    font-style: Normal;
    font-weight: Normal;
}

.bentonsansrebolditalic{
    font-family: "Benton Sans RE Bd It";
    font-style: Italic;
    font-weight: Normal;
}

.bentonsanscondensedregular{
    font-family: "Benton Sans Cond Reg";
    font-style: Normal;
    font-weight: Normal;
}

.bentonsanscondensedbold {
    font-family: "Benton Sans Cond Bd";
    font-style: Normal;
    font-weight: Normal;
}

.bentonsanscondensedbolditalic{
    font-family: "Benton Sans Cond Bd It";
    font-style: Italic;
    font-weight: Normal;
}

.bentonsanscondensedblack{
    font-family: "Benton Sans Cond Bla";
    font-style: Normal;
    font-weight: Normal;
}

.bentonsanscondensedblackitalic{
    font-family: "Benton Sans Cond Bla It";
    font-style: Italic;
    font-weight: Normal;
}
