@import 'fonts';

body {
  font-family: "elena-web-basic",sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Benton Sans Cond Bd";
}

h1, .h1 {color: #292929; font-size: 2.488em;}
h2, .h2 {color: #393939; font-size: 2.074em;}
h3, .h3 {color: #494949; font-size: 1.728em;}
h4, .h4 {color: #595959; font-size: 1.44em;}
h5, .h5 {color: #696969; font-size: 1.2em;}
h6, .h6 {color: #797979; font-size: 1em;}

hr {
  border: 0;
  border-top: 1px solid #d8d9c6;
}

blockquote {
  color: #2a5547;
  font-family: "Benton Sans Cond Reg";
  font-style: Normal;
  font-weight: Normal;
  border-left: 5px solid #d8d9c6;
  margin-left: 1em;
  padding-left: 1em;
}

blockquote strong {
  font-family: "Benton Sans Cond Bd";
  font-weight: bold;
}

figcaption {
  line-height: 1.25em!important;
}

.list-group-item {
  background: none;
}

.list-group .list-group-item a h4 {
  font-family: "Benton Sans Cond Reg" !important;
  font-style: Normal!important;
  font-weight: Normal!important;
  line-height: 1.25em;
}


a:link, a:visited {
//  text-decoration: none;
//  border-bottom: 2px solid #d6f1fc;
}

a:hover, a:active {
//  background-color: #d6f1fc;
}

.jumbotron {
//  background-color: #d8d9c6;
}

.sans, ol, li, ul, dl, table, figcaption, header, nav {
  font-family: "Benton Sans RE Reg";
  font-size: 14px;
  line-height: 2em;
}

.sans strong, ol strong, ul strong, li strong, dl strong, table strong, figcaption strong, header strong, nav strong {
  font-family: "Benton Sans RE Bd";
  font-style: Bold;
  font-weight: Bold;
}

.person-meta {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

figure {
  display: block;
  margin: 30px 0;

  img {
    display: block;
    margin: auto;
  }

  figcaption {
    padding-top: 15px;
    font-style: italic;
    color: $gray--600;
    margin: auto;
    text-align: center;
    width: 80%;
  }
}
