@import "design/colors/colors";
@import "design/typography/typography";
@import "navigation/header/header";
@import "navigation/footer/footer";
@import "navigation/navigation";
@import "toc-section/toc-section";
@import "text/text";

body {
  background: $background;
  position: relative;
}

/* Join page bulleted list styles */

#m-60500885 ul {
  text-align: left!important;
  columns: 2;
  list-style-position: inside;
  li {
    margin-bottom: 1em;
    -webkit-column-break-inside: avoid;
              page-break-inside: avoid;
                   break-inside: avoid;
  }
}

.carousel-captions {
  display: block;
  border: 1px solid $blockquote;
  padding: 15px;
  h6, .caption {
    color: darken($blockquote,25%);
  }
  .caption {
    line-height: 1.5!important;
  }
}

/* Homepage Carousel */

.carousel {
  .carousel-cell,
  img {
    max-width: 100%;
    height: auto;
  }
}
